{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Accueil Agence Alpha {% endblock %}


{# Codes HTML et balises Twig #}
{% block body %}
<h1>Accueil</p>

{% endblock %}