
<div class="col">
    <div class="card bg-primary text-{{color}} text-center">
        <div class="class-body">
            <i class="{{icon}}"></i>
            <p>{{text}}</p>
        </div>
    </div>
</div>